.product{
    display:flex;
    border-bottom:2px solid lightgrey;
    margin-bottom:7px;
    padding-bottom:7px;
    margin-right: 8px;
}
.product-name{
    color: blue;
    font-weight:400;
}
.main-btn{
    background-color: goldenrod;
    width:150px;
    height:30px;
    border: 2px solid darkgrey;
    border-radius:6px;
    cursor: pointer;
}